body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
ul{
	margin:0;
	float:right;
	width: 25%;

}
ul li{
	display: inline-block;
	text-decoration: none;
}
 h1,h4{
	color:#696768;
	margin:0;
}
a{
	text-decoration: none;
}
.header{
	padding: 5px 0px;
	width: 100%;
	height: 25vh;
	background-color: #E7D6D6;
}
.navhead{
	width: inherit;
	height:50%;
	text-align: center;
	border-bottom: 4px solid white;
}
.navgroup{
	z-index:1;
}
.navLink:hover{
	opacity: .6;
}
.imgContainer{
	position: absolute;
	top: 0%;
}
.image{
	margin: auto;
	display: flex;
	height: 90%;
	width:23%;
	border-radius: 115px;
	border: 4px solid white;
}
.cover{
	background-color: #E7D6D6;
	width:100vw;
	height: 75vh;
}
.content{
	height:85%;
}
.description{
	line-height: 2rem;
	color: #696768;
	text-align: justify;

}
.socialLinks{
	display:flex;
	height: 80px;
	padding: 0;
	justify-content: center;
}
.socialLinks img{
	height: 50px; 
	width:50px;
}
.socialLinks li{	
	align-self: center;
	padding: 0px 20px;
}
.linkOrder{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.linkText {
    opacity:0;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    margin: 0;
    width: inherit;
    color: #696768;
    margin-top: 3px;

}
.linkOrder:hover > .linkText {
    opacity:1;
    
}
.tempMessage{
	display: flex;
	justify-content: center;

}
.resumeDoc{
	display: flex;
	justify-content: center;
}
.resumecover{
	padding-top: 10px;
	height: 175vh;
	width:100vw;
	background-color: #E7D6D6;
}
.resumebuttons{
	height: 65%;
	width:80%;
	padding: unset !important;
}
.resumebuttons a{
	color: white;
	padding-right: 5px;
}
.resumebuttons a:visited{
	color: white;
}
/*.resumeLinks a{
	height: 50px;
	width:100%;
	color:white;
	border-radius: 10px;
}*/

/*.resumeLinks a:nth-child(1){
	align-items: center;
	background-color: #ff3333;
	text-align: center;
}*/
/*.resumeLinks a:nth-child(2){
	align-items: center;
	background-color: #0040ff;
	text-align: center;
}*/

@media only screen and (max-width: 600px) and (min-width: 350px) {
	a:visited{
		color: #cba6a6;
	}
	.header{
		height: 15vh;
	}
	.description{
		line-height: 1.5;
	}
	.longbottom{
	height:10vh;
	background-color: #E0E0E0;
	}
	.neville{
		color: #cba6a6;
		background-color: #E0E0E0!important;
		align-items: center;
		width:100%;
		justify-content: space-around !important;
	}
	.resumecover{
		height:75vh;
	}
	.resumebuttons{
		height: 50%;
		width:80%;
		padding: unset !important;
	}
	.resumebuttons a{
		color: white;
		padding-right: 3px;
	}
	.resumebuttons a:visited{
		color: white;
	}
}














/*These are for fading image using react transtion group
.fade-appear {
    opacity: 0.01;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 5000ms ease-in;
}

.testings {
   opacity: 0.01;
}

.testings-appear.testings-appear-active {
    opacity: 1;
    transition: opacity 20s ease-in;
}*/